.bg-color
  color: #404EA1 !important
  //color: #58748f !important

.rt-icon
  float: right
  margin: 20px

a.bg-color:hover
  color: #F04923

.range-clr
  color: #B3D8F2

//datalist
//  display: flex
//  flex-direction: column
//  justify-content: space-between
//  writing-mode: vertical-lr
//  width: 200px

//option
//  padding: 0

#score
  background: #B3D8F2
  //background: linear-gradient(to right, #B3D8F2 0%, #B3D8F2 100%)
  border: solid 1px #404EA1
  border-radius: 10px
  height: 10px
  -webkit-appearance: none

input[type='range']::-webkit-slider-thumb
  //width: 200px
  //margin: 0
  width: 15px
  -webkit-appearance: none
  //box-shadow: 4px 0 4px #404EA1
  height: 15px
  background: #F04923
  border-radius: 8px

//.input.range-clr:hover, label.range-clr:hover
//  background-color: #B3D8F2

//.accordion-layout
//  margin-top: 10px

ul
  list-style: none
  /* Remove default bullets
  li::before
    content: "\2022"
    /* Add content: \2022 is the CSS Code/unicode for a bullet
    color: #404EA1
    //color: #58748f
    /* Change the color
    font-weight: bold
    /* If you want it to be bold
    display: inline-block
    /* Needed to add space between the bullet and the text
    width: 1em
    margin-left: -1em

.panel-bg-clr
  background: #fff

//.panel-bg-clr:hover
//  background-color: #ddd

.r-margin
  margin-left: 3px
  margin-right: 3px

.txt-margin
  margin: 10px

.span-ht-clr
  display: inline-block
  min-height: 2em
  //background-color: #fff

////**
////* ----------------------------------------------
////* Demo styles
////* ----------------------------------------------
////**
//.accordion
//  border: 1px solid cadetblue
//  border-radius: 2px
//  padding-left: 10px
//
//
//.accordion__item + .accordion__item
//  border-top: 1px solid rgba(0, 0, 0, 0.1)
//
//
.accordion__button
  background-color: whitesmoke
  color: #404EA1 !important
  cursor: pointer
  padding: 18px
  width: 100%
  text-align: left
  //border: #B3D8F2 solid !important
  border: #B3D8F2 solid !important
  border-radius: 10px

.accordion__button:hover
  background-color: #404EA1 !important
  color: white !important

//
//.accordion__button:before
//  display: inline-block
//  content: ''
//  height: 10px
//  width: 10px
//  margin-right: 12px
//  border-bottom: 2px solid currentColor
//  border-right: 2px solid currentColor
//  transform: rotate(-45deg)
//
//
//.accordion__button[aria-expanded='true']::before,
//.accordion__button[aria-selected='true']::before
//  transform: rotate(45deg)
//
//
//[hidden]
//  display: none
//
//
//.accordion__panel
//  padding: 20px
//  animation: fadein 0.35s ease-in
//
//
///* -------------------------------------------------- */
///* ---------------- Animation part ------------------ */
///* -------------------------------------------------- */
//
//@keyframes fadein
//  0%
//    opacity: 0
//  100%
//    opacity: 1
//
//
