.label
  margin-bottom: 5px
  color: #F04923
  font-size: 0.85em
  width: 350px
  //margin-left: 10px

/* Orange Range Slider */
#range-slider-orange
  background: #B3D8F2
  //margin-left: 2px

#range-slider-orange .range-slider__range
  background: #F04923
  transition: height 0.3s

#range-slider-orange .range-slider__thumb
  background: #F04923
  height: 20px
  width: 20px
  transition: transform 0.3s

#range-slider-orange .range-slider__thumb[data-active]
  transform: translate(-50%, -50%) scale(1.25)
  //height: 20px

#range-slider-orange .range-slider__range[data-active]
  height: 3px
