.bg-color
  color: #404EA1

button.bg-color:hover, a.bg-color:hover
  color: #F04923 !important

.small-txt
  font-size: 0.9em

.align-txt
  text-align: justify

.margin-text
  margin: 5px

.err-color
  color: #F04923

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
  background-color: #B3D8F2
